# SMTP (produccion/local)
SMTP_ENABLED=1
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASS="TU_APP_PASSWORD_DE_GMAIL"
SMTP_ENCRYPTION=tls
SMTP_TIMEOUT=15

# Contacto
AUTO_REPLY_ENABLED=1
AUTO_REPLY_SUBJECT="Gracias por tu mensaje"
CONTACT_TO=tu_correo@gmail.com
CONTACT_SUBJECT_PREFIX="[Portfolio]"
MAIL_FROM=tu_correo@gmail.com
MAIL_REPLY_TO=tu_correo@gmail.com
SITE_NAME="Jose Manuel Portafolio"
